body {
}

#nav_bg {
    min-height: 120px;
    background-color: #40bb62;
}
.nav {
    padding-top: 5px;
}
#nav_title {
    font-size: xx-large;
    color: white;
}
.nav-link {
    font-family: 'Fredoka One', cursive;
    color: #070f2d;
    letter-spacing: 2px;
}

img{
    width:auto;
    height: 125px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit:cover;
    overflow: hidden;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
}

#compatSection {
    width: 100%;
    background-color: #070f2d;
    text-align: center;
}
#ContentPlaceHolder1_btnCompatTest {
    margin: 10px;
    width: 250px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}


.petCard {
    width: 60%;
    margin: auto;
    background-color: lightgrey;
    margin-bottom: 3em;
}
th {
    text-align: center;
}
tbody {
    text-align: center;
}
tr {
    margin-bottom: 2em;
}

#petName {
    text-align: center;
    color: #3AAFA9;
}
#image {
    margin-bottom: 15px;
}


.viewButton {
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 80%;
}

.btn {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}

#btnLogOut {
    font-family: 'Fredoka One', cursive;
    margin-top: 46px;
    margin-left: 7px;
}