body {
}

#nav_bg {
    min-height: 120px;
    background-color: #40bb62;
}
.nav {
    padding-top: 5px;
}
#nav_title {
    font-size: xx-large;
    color: white;
}
.nav-link {
    font-family: 'Fredoka One', cursive;
    color: #070f2d;
    letter-spacing: 2px;
}

img{
    height:125px;
    width: auto;
}


#compatSection {
    width: 100%;
    background-color: #070f2d;
    text-align: center;
}
#ContentPlaceHolder1_btnCompatTest {
    margin: 10px;
    width: 250px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}


.petCard {

}