body {
}

.bg {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 15em;
    background-color: lightgrey;
    height: 1000px;
}

.card-header {
    background-color: hsl(171, 100%, 41%);
}

#lblErrors {
    color: red;
}

fieldset{
    padding:10px;
    margin-left: 40px;
}